# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

APP_ENV=dev
APP_SECRET=10e4a9cbfdccac96e78ac7351e569287

GITHUB_REPO_USER=symfony
GITHUB_REPO_NAME=symfony
GITHUB_CLIENT_ID=582e56666e86509fc357
GITHUB_CLIENT_SECRET=bc7981abc6bbd84a49646d37a35dc1f469935cc2

MEMCACHED_HOST=127.0.0.1
MEMCACHED_PORT=11211
