{% for type, messages in app.session.flashbag.all() %}
    {% if type == 'error' %}
        {% set type = 'danger' %}
    {% endif %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}">{{ message }}</div>
    {% endfor %}
{% endfor %}
