<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="{{ path('index') }}" style="font-weight: bold; font-size: xx-large">
            <span style="color: grey">testio</span>
            <span style="color: green">.</span>
        </a>
        <a class="nav-link" style="right: 0; position: absolute;" href="{{ path('logout') }}">Logout</a>
    </nav>
</header>
