{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <h1>{{ status_text }}</h1>

        <p><a href="{{ path('index') }}">return to the homepage</a>.</p>
    </main>
{% endblock %}
